html,
body {
  width: 100%;
  height: 100%;
  background-color: #f7f7f7;
}

button {
  width: 100px;
  height: 60px;
  outline: none;
  margin: 10px;
  border: none;
  border-radius: 2px;
  font-weight: 700;
}

button:hover {
  cursor: pointer;
}

button.current {
  box-shadow: 0 0 0 2px white, 0 0 0 4px black;
}

.list-element {
  width: 600px;
  margin: 0px;
  padding: 8px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #0000004d;
}
